<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/all.css">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
    <body>

    <div class="wrapper">
		<header>
		<h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <p class="view"><a href="https://github.com/rt77789">View My GitHub Profile</a></p>
		<!--<a class="extra" href="/">home</a> -->
		</header>

      <section>
                {{ content }}
      </section>
      <footer>
<div class="contact">
	<p>
                  Yi Zheng<br />
                  rt77789(AT)gmail(DOT)com
              </div>
			  </p>

			  <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
       </div> <!-- /container -->
    <script src="/css/scale.fix.js"></script>

    </body>
</html>
